################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/Ordering
/.vs/Ordering/FileContentIndex
/.vs/Ordering/FileContentIndex/31ff3eec-b455-4249-a101-2f02d587f895.vsidx
/.vs/Ordering/FileContentIndex/3df1966d-0620-4730-9072-1a1486a07ccb.vsidx
/.vs/Ordering/FileContentIndex/read.lock
/.vs/Ordering/v17
/.vs/Ordering/v17/.wsuo
/.vs/ProjectSettings.json
/.vs/QFD/FileContentIndex
/.vs/QFD/FileContentIndex/2960e651-9f55-4054-b3ba-3f999d5a487a.vsidx
/.vs/QFD/FileContentIndex/read.lock
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/obj
/obj/Debug/net7.0
/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/project.assets.json
/obj/project.nuget.cache
/obj/QFD.csproj.nuget.dgspec.json
/obj/QFD.csproj.nuget.g.props
/obj/QFD.csproj.nuget.g.targets
/obj/Release/net7.0
/obj/Release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
/obj/Release/net7.0/QFD.AssemblyInfo.cs
/obj/Release/net7.0/QFD.AssemblyInfoInputs.cache
/obj/Release/net7.0/QFD.csproj.AssemblyReference.cache
/obj/Release/net7.0/QFD.GeneratedMSBuildEditorConfig.editorconfig
/obj/Release/net7.0/QFD.GlobalUsings.g.cs
/obj/Debug/net7.0/QFD.assets.cache
/obj/Debug/net7.0/QFD.csproj.AssemblyReference.cache
/obj/Debug/net7.0/QFD.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/QFD.assets.cache
/obj/Debug/net7.0/QFD.csproj.AssemblyReference.cache
/obj/Debug/net7.0/QFD.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net7.0/project.razor.vs.json
/bin/Debug/net7.0
/obj/Debug/net7.0/apphost.exe
/obj/Debug/net7.0/QFD.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/QFD.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/QFD.dll
/obj/Debug/net7.0/QFD.genruntimeconfig.cache
/obj/Debug/net7.0/QFD.pdb
/obj/Debug/net7.0/staticwebassets.build.json
/obj/Debug/net7.0/staticwebassets/msbuild.QFD.Microsoft.AspNetCore.StaticWebAssets.props
/obj/Debug/net7.0/refint/QFD.dll
/obj/Debug/net7.0/scopedcss/bundle/QFD.styles.css
/obj/Debug/net7.0/apphost.exe
/obj/Debug/net7.0/QFD.csproj.CoreCompileInputs.cache
/obj/Debug/net7.0/QFD.csproj.FileListAbsolute.txt
/obj/Debug/net7.0/QFD.dll
/obj/Debug/net7.0/QFD.genruntimeconfig.cache
/obj/Debug/net7.0/QFD.pdb
/obj/Debug/net7.0/staticwebassets/msbuild.QFD.Microsoft.AspNetCore.StaticWebAssets.props
/obj/Debug/net7.0/staticwebassets.build.json
/obj/Debug/net7.0/scopedcss/bundle/QFD.styles.css
/obj/Debug/net7.0/refint/QFD.dll
/obj/Debug/net7.0/ref/QFD.dll
